*{
    margin: auto;
}

html, body {
    width: 100%;
    height: 100%;
    color: white;
    font-family: "Roboto";
    font-weight: 400;
}

.site{
    display: grid;
    margin: auto;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 80px 1fr 50px;
    grid-template-areas: 
        "header     login"
        "item       item"
        "footer     footer";
    background: whitesmoke;
    color: #444;
    min-height: 100%;
}

.header{
    grid-area: header;
    text-align: left;
    padding: 0 25%;
    width: 100%;
    height: 100%;
    background: rgb(71, 167, 167);
}

h1{
    padding: .2rem;
}

.login{
    margin: 0;
    grid-area: login;
    width: 100%;
    background: rgb(71, 167, 167);
    /*background: rgb(255, 20, 147);*/
}

.login .loginbuttons{
    padding: 1.25rem;
    margin: auto;
    text-align: center;
}

.info-container{
    margin: 0 auto;
    width: 100%;
    border-radius: 0px 25px 25px 25px;
    align-self: flex-start;
    grid-area: item;
    align-content: center;
    justify-items: center;
    text-align: center;
    /*background: green;*/
    max-width: 920px;
}

a:link, a:visited{
    color: white;
    text-decoration: none;
}

.info-field{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin: 10px;
    padding: 1rem;
    border-color: rgb(167, 167, 167);
    /*background: rgb(167, 167, 167);*/
    display: grid;
    align-items: center;
    align-content: center;
    text-align: center;
    grid-auto-flow: row;
}

.info-field p{
    padding: 1rem;
    min-width: 20%;
    margin: auto;
    text-align: center;
    color: black;
}

.itemimage{
    margin: auto;
    min-width: 100px;
    min-height: 100px;
}

.info-field img{
    margin: auto;
    max-width: 400px;
    max-height: 400px;
}

.anouncer-info{
    padding: 1rem;
    max-width: 600px;
    margin: auto;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
}

.anouncer-info p{
    margin-right: 0;
}

.anouncer-info img{
    margin-left: 0;
    border-radius: 100%;
    max-width: 100px;
    max-height: 100px;
}

.footer{
    width: 100%;
    grid-area: footer;
    align-content: center;
    text-align: center;
    background: rgb(71, 167, 167);
}

.footer p{
    padding: .225rem;
    color: white;
}

#editbuttons{
    grid-auto-flow: column;
}

#deleteButton, #editButton, #signoutButton {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color:rgb(214, 214, 214);
    border: none;
    outline: none;
    color: rgb(56, 56, 56);
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
}

#editButton:hover, #signoutButton:hover {
    background-color: #ffffff;
}

#deleteButton:hover {
    background-color: #a83636;
    color:white;
}

@media (max-width: 800px) {
    .site{
        grid-row-gap: 5px;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr 80px 40px;
        grid-template-areas: 
            "header"
            "item"
            "login"
            "footer";
        background: whitesmoke;
        color: #444;
        min-height: 100%;
        max-width: 100%;
    }

    .header{
        text-align: center;
        padding: 0;
    }

    .login{
        background: rgb(255, 20, 147, 0);
    }

    .login .loginbuttons{
        padding: 1.25rem;
    }
    
    .info-container{
        margin-left: auto;
        border-radius: 25px 25px 25px 25px;
        max-width: 100%;
    }

    .anouncer-info{
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }

    .info-field img{
        margin: auto;
        max-width: 200px;
        max-height: 200px;
    }

    .anouncer-info p{
        margin-right: auto;
    }

    .anouncer-info img{
        margin-left: auto;
        border-radius: 100%;
        max-width: 50px;
        max-height: 50px;
    }
}